<div class="sidebar-container">
  <nav>
    <ul>
      <li>
        <a routerLink="/grupos" routerLinkActive="active">
          <span class="icon icon-grupos"></span> 
          <span class="nav-text">Grupos de Investigación</span>
        </a>
      </li>
      <li>
        <a routerLink="/investigadores" routerLinkActive="active">
          <span class="icon icon-investigadores"></span> 
          <span class="nav-text">Investigadores</span>
        </a>
      </li>
      <!-- Añade más enlaces aquí -->
    </ul>
  </nav>

  <div class="sidebar-footer">
     <a routerLink="/configuracion" routerLinkActive="active">
        <span class="icon icon-config"></span> 
        <span class="nav-text">Configuración</span>
      </a>
  </div>
</div> 