<div class="home-container two-column">
  <div class="text-content">
    <h1>Grupos de Investigación</h1>
    <p>
      Aplicación Web para el monitoreo de Grupos de Investigación.
      Forma parte de la red más grande de investigadores de la región Apurímac.
      Licenciada por SUNEDU!
    </p>
    <a routerLink="/gruposInvestigacion" class="cta-button">Grupo de Investigación</a>
  </div>
  <div class="image-content">
    <img src="assets/grupo1.jpg" alt="Equipo de investigación colaborando">
  </div>
</div>